@import url("style.css");
form{
    background-color: #D9310B;
    max-width: 500px;
    height: 350px;
    padding: 40px;
    border-radius: 10px;
    justify-content: center;
  
    
}
form h1{
    position: center;
    text-align:center;
    color: #464cbb;
    background-color: #0D0D0D;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    
    

    
}
